image:
  registry: docker.io
  repository: bitnamilegacy/mariadb
  tag: 10.11.6-debian-11-r0

auth:
  existingSecret: mariadb-secret
  database: douz_wp
  username: douz_wp

primary:
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi