image:
  registry: docker.io
  repository: bitnamilegacy/redis

architecture: standalone
auth:
  enabled: true
  existingSecret: redis-secret
commonConfiguration: |-
  # Enable AOF https://redis.io/topics/persistence#append-only-file
  appendonly no
  # Disable RDB persistence, AOF persistence already enabled.
  save ""
  # Eviction policy: evict least recently used key from all keys
  maxmemory-policy allkeys-lru
  # Set maxmemory to match pod limit
  maxmemory 700mb
master:
  disableCommands: []
  persistence:
    enabled: false
  resources:
    requests:
      cpu: 300m
      memory: 750Mi
    limits:
      cpu: 300m
      memory: 750Mi
replica:
  replicaCount: 1