---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - gateway.yaml
  - secret-origin-verify-token.yaml
  - cilium-http-route-filter-origin-verify.yaml
