apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-notifications
  namespace: flux-system
spec:
  interval: 10m
  path: ./clusters/prod/infra/flux-notifications
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
