apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Helm Repositories (must be first)
  - helm-repos/
  
  # Core infrastructure (order matters due to dependencies)
  - cert-manager/cert-manager-flux-kustomization.yaml
  - external-dns/
  - ingress/
  - flux-notifications/
  
  # CRD-dependent configs (apply after cert-manager is ready)
  - issuers/issuers-flux-kustomization.yaml
